body {
    background: #27316B;

}

* {
    text-align: center;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-weight: 1000;
    color:white;
    font-size: xx-large;
    text-shadow: black;
}

.topBar {
    text-align: right;
}

.siteName {
    text-align: left;
}

#header {
    font-size: 100;
}